$color-blue: #3461E2;
$color-blue-fade: #E5EAFB;
$whitesmoke: #F6F9FE;
$tex-color: #3D3D3D;
$border-radius: 100px;

.blogs {
    padding: 80px;

    .container {
        display: grid;
        grid-template-columns: 21% 21% 21% 21%;
        gap: 20px;
        row-gap: 20px;
        a {
            .blog {
                background-color: $whitesmoke;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                
                img {
                    border-radius: 10px;
                }
    
                .blog-summary {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .title {
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .navbar {
        padding: 0 20px;
    }
    
    .blog-page-header {
        padding: 50px 0;
        .container {
            .col {
                .heading {
                    font-size: 24px;
                }
                img {
                    height: 120px;
                }
            }
        }
    }

    .blogs {
        padding: 0;
        padding-bottom: 50px;

        .container {
            display: flex;
            margin-top: 30px;
            flex-direction: column;
            a {
                .blog {
                    width: 100%;
                    border-radius: 10px;

                    img {
                        border-radius: 10px;
                    }

                    .blog-summary {
                        p {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 620px) {
    .hero {
        height: 50vh;
        .container {
            padding-top: 150px;
            .blog-intro {
                font-size: 30px;
                width: 350px;
            }
        }
    }
}

