$color-blue-fade: #e5eafb;
$whitesmoke: #f6f9fe;
$tex-color: #3d3d3d;
$border-radius: 10px;
$color-blue: #3461e2;


//Refactored this

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li a {
  color: white;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

.container {
  padding: 20px 0;
  max-width: 1200px;
  margin: auto;
}

footer {
  background-color: $color-blue;
}

.header {
  background-color: transparent;
  height: 100px;
  margin-bottom: -100px;
  position: relative;
  z-index: 10;
  .container {
    .nav-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 20px;
      .brand {
        width: 400px;
        display: flex;
        align-items: center;
        gap: 10px;
        h1 {
          text-transform: capitalize;
          color: white;
          font-size: 20px;
        }
        .logo {
          width: 60px;
          height: 60px;
          pointer-events: none;
        }
      }
      .nav-menu {
        .links {
          display: flex;
          align-items: center;
          gap: 20px;

          .link {
            font-size: 18px;
          }

          .contact-btn {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: $color-blue;
            padding: 10px 25px;
            border-radius: 10px;
          }
          button {
            font-size: 24px;
            color: $whitesmoke;
            background: transparent;
            border-color: transparent;
            cursor: pointer;
          }
        }
      }
      .nav-toggle {
        visibility: hidden;
      }
    }
  }
}
footer {
  padding-top: 50px;
  color: white;
  .container {
    
    .row {
      display: flex;
      align-items: flex-start;
      gap: 24px;
      .about-company {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
          color: $whitesmoke;
          font-size: 25px;
        }

        p {
          color: $whitesmoke;
        }
        
      }

      .footer-services {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
          color: $whitesmoke;
          font-size: 25px;
        }

        p {
          color: $whitesmoke;
        }
      }

      .footer-blogs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        h1 {
          color: $whitesmoke;
          font-size: 25px;
        }

        p {
          color: $whitesmoke;
        }
        .col {
          display: flex;
          flex-direction: column;
          gap: 10px;
         
          .blog {
            
            .featured-img {
              img {
                height: 50px;
                width: 50px;
                object-fit:cover;
              }
            }
            .summary {
              p {
                width: 300px;
              }
            }
          }
        }
      }
      
      .links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .social-media {
          display: flex;
          align-items: center;
          gap: 10px;
        }
  
        .footer-links {
          display: flex;
          gap: 20px;
  
          a {
            color: $whitesmoke;
          }
        }
      }
    }
    
  }
  .copy {
    background-color: #0937BB;
    padding: 12px 0;
    margin-top: 10px;
    .container {

      .row {
        justify-content: space-between;
        .menu-links {
         display: flex;
         align-items: center;
         width: 70%;
         gap: 12px;
        }
        .social-media {
          display: flex;
          align-items: center;
          justify-content: end;
          
          gap: 12px;
          img {
            width: 24px;
          }
        }
      }
    }
  }
}

//responsiveness
@media screen and (max-width: 1020px) {

  .container {
    padding: 0 20px;
  }
  .header {
    .container {
      padding-top: 20px;

      .nav-header {
        .brand {
          gap: 5px;
          .logo {
            width: 20px;
            height: 20px;
          }

          h1 {
            font-size: 10px;
          }
        }
      }

      .nav-menu {
        display: none;
      }

      .nav-toggle {
        visibility: visible;
        color: $whitesmoke;
      } 

    }
  }
}

@media screen and (max-width: 1047px) {
  .footer {

    .container {
      .col {
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }
}

@media screen and(max-width: 540px) {
  footer {
    .container {
      .row {
        flex-direction: column;
        gap: 50px;
        .col {
          width: 100%;
        }
      }
    }

    .copy{
      margin-top: 50px;
      padding:  20px 0;

      .container {
        .row {
          flex-direction: column-reverse;
          gap: 24px;
          .menu-links {
            flex-wrap: wrap;
            width: 100%;
          }

          .social-media {
            justify-content:start;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  footer {
    .container {
      padding: 0 30px;
    }
  }
}














