$color-blue-fade: #e5eafb;
$whitesmoke: #f6f9fe;
$tex-color: #3d3d3d;
$border-radius: 10px;
$color-blue: #3461e2;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: $tex-color;
  font-size: 18px;
  background-color: white;
}

header {
  height: 55rem;
  z-index: 10;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li a {
  color: white;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

.container {
  padding: 20px 0;
  max-width: 1200px;
  margin: auto;
}

footer {
  background-color: $color-blue;
}

.header {
  .container {
    .nav-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .brand {
        width: 400px;
        display: flex;
        align-items: center;
        gap: 10px;
        h1 {
          text-transform: capitalize;
          color: white;
          font-size: 20px;
        }
        .logo {
          width: 60px;
          height: 60px;
          pointer-events: none;
        }
      }
      .nav-menu {
        .links {
          display: flex;
          align-items: center;
          gap: 20px;

          .link {
            font-size: 18px;
          }

          .contact-btn {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: $color-blue;
            padding: 10px 25px;
            border-radius: 10px;
          }
          button {
            font-size: 24px;
            color: $whitesmoke;
            background: transparent;
            border-color: transparent;
            cursor: pointer;
          }
        }
      }
      .nav-toggle {
        visibility: hidden;
      }
    }
  }
}
.footer {
  width: 100%;
  .container {
    padding: 20px 50px;
    .col {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .row {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
          color: $whitesmoke;
          font-size: 25px;
        }

        p {
          color: $whitesmoke;
        }

        .social-media {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .footer-links {
          display: flex;
          gap: 20px;

          a {
            color: $whitesmoke;
          }
        }
      }
    }
    p {
      color: $whitesmoke;
      padding-top: 15px;
    }
  }
}

//responsiveness
@media screen and (max-width: 1020px) {

  .container {
    padding: 0 20px;
  }
  .header {
    .container {
      padding-top: 20px;

      .nav-header {
        .brand {
          gap: 5px;
          .logo {
            width: 20px;
            height: 20px;
          }

          h1 {
            font-size: 10px;
          }
        }
      }

      .nav-menu {
        display: none;
      }

      .nav-toggle {
        visibility: visible;
        color: $whitesmoke;
      } 

    }
  }
}

@media screen and (max-width: 1047px) {
  .footer {

    .container {
      .col {
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }
}











