$color-blue: #3461E2;
$color-blue-fade: #E5EAFB;
$whitesmoke: #F6F9FE;
$tex-color: #3D3D3D;
$border-radius: 100px;

//nav bar

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.657);
    padding-right: 20px;
    border-radius: 100px;
    position: relative;
    height: 10vh;
    z-index: 2;
    .brand {
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: bold;

        .logo {
            max-width: 60px;
        }
    }

    .menu-bar {
        display: none;
    }
    .close-menu {
        display: none;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        gap: 15px;

        .active {
            color: $color-blue;
            text-decoration: underline;
        }
    }
}

//Mobile

@media screen and (max-width: 540px) {
    .navbar {
        height: 100px;
        padding-right: 0;
        position: relative;
        .brand {
            .logo {
                max-width: 40px;
            }
            .site-title {
                font-size: 16px;
            }
        }
        transition: display ease-in-out 0.3s;
        .nav-menu {
            flex-direction: column;
            gap: 30px;
            position: absolute;
            top: 100px;
            right: -20px;
            left: -20px;
            background-color: white;
            z-index: 2;
            padding-bottom: 30px;
            height: 100vh;
            display: none;
        }
    
        .menu-bar, .close-menu{
            display: block;
            img {
                width: 30px;
                align-self: flex-end;
            }
        }

    }

}
